
html, body {
    margin : 0;
    padding : 0;
    width : 100%;
    overflow-x: hidden;
}

header {
    background-color: #50dcd8;
    text-align: center;
    padding : 10px;
    font-family: 'Itim', cursive;
}

h1. {
    font-size: 20px;
    opacity : 0.6;
}

/* first parallax with animation*/
.background {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/11_background.png");
    background-size: cover;
    background-position: 0 0;
    animation: background-shift 30s linear infinite;
}

.distance_cloud {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/10_distant_clouds.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: distance_cloud-shift 25s linear infinite;
}

.distance_cloud1 {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/09_distant_clouds1.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: distance_cloud1-shift 25s linear infinite;
}

.cloud {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/08_clouds.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: cloud-shift 25s linear infinite;
}

.huge_cloud {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/07_huge_clouds.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: huge_cloud-shift 25s linear infinite;
}

.hill2 {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/06_hill2.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: hill2-shift 25s linear infinite;
}

.hill1 {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/05_hill1.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: hill1-shift 25s linear infinite;
}

.bushes {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/04_bushes.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: bushes-shift 25s linear infinite;
}

.distance_tree {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/03_distant_trees.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: distance_tree-shift 25s linear infinite;
}

.trees_and_bushes {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/02_trees and bushes.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: trees_and_bushes-shift 25s linear infinite;
}

.ground {
    position : absolute;
    width : 100vw;
    height: 100vh;
    background-image: url("img/01_ground.png");
    background-size: 100vw 100%;
    background-position: 0 0;
    animation: ground-shift 25s linear infinite;
}

@keyframes background-shift {
    100% {
        background-position : 100vw 0;
    }
}

@keyframes distance_cloud-shift {
   100% {
       background-position: 200vw 0;
   }
}

@keyframes distance_cloud1-shift {
    100% {
        background-position: 220vw 0;
    }
}

@keyframes cloud-shift {
    100% {
        background-position: 250vw 0;
    }
}

@keyframes huge_cloud-shift {
    100% {
        background-position: 280vw 0;
    }
}

@keyframes hill2-shift {
    100% {
        background-position: 300vw 0;
    }
}

@keyframes bushes-shift {
    100% {
        background-position: 330vw 0;
    }
}

@keyframes distance_tree-shift {
   100% {
       background-position: 350vw 0;
   }
}

@keyframes trees_and_bushes-shift {
    100% {
        background-position: 380vw 0;
    }
}

@keyframes ground-shift {
  100% {
      background-position: 400vw 0;
  }
}

.tuk_tuk {
    position : absolute;
    height : 35%;
    left: 40%;
    top : 500px;
    bottom : 5%;
    transform : translateX(-30%);
}

.running {
    position : absolute;
    height: 18%;
    left : 75%;
    bottom : 10%;
    transform: translateX(-20%);
}


/* information part*/
.info {
    top : 650px;
    height: 100%;
    width: 100%;
    margin : 0 auto;
    padding : 80px 20px;
    position: absolute;
    z-index : 1000;
    font-family: 'Itim', cursive;
}
h4 {
    margin-left: 140px;
    color : #206c5d;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 #97b8b5,
    1px 2px 0 #97b8b5,
    1px 4px 0 #97b8b5,
    1px 5px 0 #97b8b5,
    1px 6px 0 #97b8b5,
    1px 7px 0 #97b8b5,
    5px 13px 15px black;
}

p {
    line-height : 35px;
    text-align: justify;
}

.info img {
    width : 100%;
}

.info-container {
    margin : 0 auto;
    width : 90%;
    padding-top: 100px;
}

.text-container p {
    font-size : 20px;
    opacity : 0.6;
}

.img-container .row {
    margin-left: 50px;
    width : 120%;
    margin-top : 140px;
}

.img-large {
    margin-top: 55px;
}

/* 3D text */
.threeD {
    position: absolute;
    top: 1500px;
    height: 120px;
    width: 50%;
    margin-left: 750px;
    z-index: 1000;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 36px;
    color : #206c5d;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 #97b8b5,
    1px 2px 0 #97b8b5,
    1px 4px 0 #97b8b5,
    1px 5px 0 #97b8b5,
    1px 6px 0 #97b8b5,
    1px 7px 0 #97b8b5,
    5px 13px 15px black;
}

.threeD:hover {
    transition : 0.3s;
    transform : scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px 0 #97b8b5,
    1px -2px 0 #97b8b5,
    1px -3px 0 #97b8b5,
    1px -4px 0 #97b8b5,
    1px -5px 0 #97b8b5,
    1px -6px 0 #97b8b5,
    1px -7px 0 #97b8b5,
    1px -8px 0 #97b8b5,
    5px -13px -15px black,
    5px -13px -25px #808080;
}


.parallax2 {
    position: absolute;
    top : 1550px;
    margin: 0;
    z-index: 1000;
    background-image: url("img/Together-We-Can.jpg");
    min-height: 750px;
    width : 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* the last paragraph */
.content {
    position : absolute;
    top: 2350px;
    margin-left: 150px;
    z-index: 1000;
    font-family: 'Itim', cursive;
    font-size: 25px;
    line-height: 30px;
    opacity : 0.6;
    width : 80%;
}
